<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Provide the Search Engine names here-->
    <add key="SearchEngines" value="Google,Bing"/>
    <!--Every Search engine should have 3 config entries here.-->
    <!--Every entry should start with the Search engine name configured above.-->
    <!--The below keys are case sensitive in this release. Please enter the correct case.-->
    <!--Google config-->
    <add key="GoogleUrl" value="https://www.google.com/search?q="/>
    <add key="GoogleContainerId" value="//div[@id='result-stats']"/>
    <add key="GoogleRegexToSearch" value="About ([0-9,]+)"/>
    <!--Bing config-->
    <add key="BingUrl" value="https://www.bing.com/search?q="/>
    <add key="BingContainerId" value="//div[@id='b_tween']"/>
    <add key="BingRegexToSearch" value="([0-9,]+) results"/>
    <!--Yandex config-->
    <!--Yandex returning results in words. Say 15 Millions. So, this is not implemented in this release-->
    <add key="YandexUrl" value="https://yandex.com/search/?text="/>
    <add key="YandexContainerId" value="//div[@id='search-result-aside']"/>
    <add key="YandexRegexToSearch" value="([0-9,]+ [a-zA-Z]+) results"/>
  </appSettings>
</configuration>